<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(cssUrl)"> 

    <title>Hello, world!</title>
  </head>
  <body>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <section>
        <img src="/assets/imagenes/samsunglogo.gif" alt="..." id="imagen">
    </section>

    <section id="seccion2">
        <div class="row justify-content-around">
            <div class="col-4">
                <div class="card" style="width: 18rem;" id="card1">
                    <img src="/assets/imagenes/note20.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p id="texto">Modelo: Note 20 Ultra</p>
                      <p id="texto">Precio: 9,271,00 Bs</p>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;" id="card2">
                    <img src="/assets/imagenes/s21.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p id="texto">Modelo: s21 Ultra</p>
                      <p id="texto">Precio: 11,222,00 Bs</p>
                    </div>
                  </div>
            </div>
          </div>
    </section>
    <section id="seccion3">
        <div class="row justify-content-around">
            <div class="col-4">
                <div class="card" style="width: 18rem;" id="card3">
                    <img src="/assets/imagenes/a52.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p id="texto">Modelo: A52</p>
                      <p id="texto">Precio: 4,127,00 Bs</p>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;" id="card4">
                    <img src="/assets/imagenes/zflip32.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p id="texto">Modelo: Zflip3</p>
                      <p id="texto">Precio: 8,894,00 Bs</p>
                    </div>
                  </div>
            </div>
          </div>
    </section>

    <section>
       
        <img src="/assets/imagenes/applelogo.gif" alt="..." id="imagen1">
           
    </section>

    <section id="seccion5">
        <div class="row justify-content-around">
            <div class="col-4">
                <div class="card" style="width: 18rem;" id="card5">
                    <img src="/assets/imagenes/xsmax.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p id="texto">Modelo: XS Max</p>
                      <p id="texto">Precio: $488.00</p>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;" id="card6">
                    <img src="/assets/imagenes/13promax.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p id="texto">Modelo: 13 Pro Max</p>
                      <p id="texto">Precio: $1552,62</p>
                    </div>
                  </div>
            </div>
          </div>
    </section>
    <section id="seccion6">
        <div class="row justify-content-around">
            <div class="col-4">
                <div class="card" style="width: 18rem;" id="card7">
                    <img src="/assets/imagenes/12promax.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p id="texto">Modelo: 12 Pro Max</p>
                      <p id="texto">Precio: $1491,08</p>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;" id="card8">
                    <img src="/assets/imagenes/11promax.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p id="texto">Modelo: 11 Pro Max</p>
                      <p id="texto">Precio: $1390,00</p>
                    </div>
                  </div>
            </div>
          </div>
    </section>

  </body>
</html>
